/* App.css */
.App {
  overflow-y: scroll;
  height: 100vh; /* Full viewport height */
}

.snap-target {
  height: 100vh; 
  border-top: 1px solid #6d6c6c;
}

/* This styles the scrollbar track (the part the thumb moves within) */
::-webkit-scrollbar {
  width: 10px; /* Width of the vertical scrollbar */
  height: 10px; /* Height of the horizontal scrollbar */
}

/* This styles the scrollbar thumb (the movable part) */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the thumb */
  border-radius: 5px; /* Rounded corners on the thumb */
}

/* This styles the thumb when it's being hovered over */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker color on hover */
}


/* For windows 10+ styling */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 #F4F1DE; /* thumb and track color */
}
